body {
    background-image: url("../img/hajime-bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: #3E4174;
    color: #F0C6F8;
}

.box {
    background-color: #3E4174;
}

.bordered {
    border-image: linear-gradient(120deg, #7D7AB8, #B39FC8, #7D7AB8) 4 round;
    border-color: #7D7AB8;
}

a {
    color: #F0C6F8;
    text-decoration: none;
}

a:hover, a:focus, a:hover > .box, a:focus > .box, a.box:hover, a.box:focus, #close:hover, #close:focus {
    background-color: #7D7AB8;
    color: #3E4174;
    outline: 3px double #B39FC8;
}

.posted-image:hover, .posted-image:focus, #inner-portrait:hover, #inner-portrait:focus {
    outline: 3px double #B39FC8;
    opacity: 0.4;
}

.bordered-img {
    border: 4px solid transparent; /*2*/
    background: linear-gradient(120deg, #7D7AB8, #B39FC8, #7D7AB8) border-box; /*3*/
}

#lightbox {
    background-color: rgba(42, 35, 68, 0.8);
}